src/affirmation

**/Makefile.in
**/.deps/
**/Makefile
**/*.o

autom4te.cache/

aclocal.m4
autoscan.log
compile
config.h
config.log
config.status
config.h.in
configure
configure.scan
depcomp
install-sh
missing
stamp-h1